
#barraDeNavegação{
 background-color: rgb(138, 249, 253);
 height: 50px;
 font-size: 18px;
 background-size: cover;
 
}
.navegacao{
    padding: 0px;
}
.navegacao li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 10px;
    padding-top: 13px
    
    ;
 
}
