
#barraDeNavegação{
 height: 50px;
 font-size: 18px;
 
}
.navegacao{
    padding: 0px;
}
.navegacao li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 10px;
    padding-top: 13px
    
    ;
 
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
#article1{
    width: 50%;
    display: inline-block;
}
#tabela1{
    margin-top: ;
    float:right;
}
.foto{
    width: 500px;
}