p{
    font-family: sans-serif; font-weight: 600; font-size: 3em;
}
body{
    font-size: 16px;
}
.list-style{
    font-style: oblique;
    line-height: 40px;
    text-align: center;
    text-decoration:underline;
}
.item1{
    color: yellow;
}
.item2{
    color: red;
}
.item3{
    color: brown;
}
h1{font-size: 65px; color: rgba(29, 3, 175, 0.986);
}
ul{background-color: rgb(129, 198, 255);
}
.backgoundcolor{background-color: aqua;   
}