body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

}

.pokemon {
  display: flex;
  border: 1px solid;
  border-radius: 25px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 auto;
  margin: 10px 10px;
  width: 35%;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}